/* Import */
@media (min-width:576px) {
  #nav-list {
    display: none
  }
}
#header-nav {
  border-radius: 0;
}
.navbar-brand {
  padding: 5px;
}
.navbar h1 {
  margin-top: 0;
}
/* Text */
h1 {
  margin-bottom: 15px;
}
  
h2 {
  margin: 0;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: #fff;
  clear: right;
}

/* Container */
#col-container {
  padding: 10px;
}
  
#article-title {
  position: relative;
  color: #fff;
  height: 50px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/* Bg Color */
.bg-gray {
 background-color: #777;
  padding-bottom: 10px;
} 

.bg-pink {
 background-color: pink;
} 

.bg-orange {
 background-color: orange;
} 
  
.bg-yellow {
 background-color: yellow;
} 
  